main{
    max-width: 500px;
    margin: auto;
}

table{
    width: 100%;
    text-align: center;
    font-size: 30px;
}

#keyBoard{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
}

#keyBoard .letterKeyBoard{
    
    width: 50px;
    height: 30px;
    text-align: center;
    padding: 10px;
    border: 1px solid gray;
    margin: 2px;
}

#imagePendu{
    background: url("Le-Pendu.png");
    width: 120px;
    height: 140px;
    margin: 10px auto;
}

#imagePendu.etat0{
    background-position: 1824px -80px;
}
#imagePendu.etat1{
    background-position: 1615px -80px;
}
#imagePendu.etat2{
    background-position: 1400px -80px;
}
#imagePendu.etat3{
    background-position: 1185px -80px;
}
#imagePendu.etat4{
    background-position: 1831px -310px;
}
#imagePendu.etat5{
    background-position: 1626px -310px;
}
#imagePendu.etat6{
    background-position: 1413px -310px;
}